/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #fffbfb; /* Light grey background */
    color: #003e21; /* Brand color */
}

/* Video Overlay */
.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 10000;
    transition: opacity 1s ease;
}

#hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#content {
    display: none;
}

#content.visible {
    display: block;
}

/* Header */
header {
    background-color: transparent;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #003e21;
}

/* Navigation */
nav {
    background-color: transparent;
    width: 100%;
}

.nav-items {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-items li {
    position: relative;
    margin: 0 15px;
}

.nav-items a {
    text-decoration: none;
    color: #003e21;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-items a:hover {
    color: #dcbb57;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
    color: #003e21;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

.arrow {
    font-size: 12px;
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.dropdown-content li {
    list-style-type: none;
    padding: 12px 16px;
}

.dropdown-content li a {
    color: #003e21;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content li a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hero Section */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#fffbfb);
    background-size: cover;
}

.hero-text {
    text-align: center;
    color: #003e21;
    padding: 20px;
    animation: fadeInUp 1s ease-out;
}

.hero-title {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    animation: fadeInUp 1.5s ease-out;
}

.hero-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    max-width: 600px;
    margin: 0 auto;
    animation: fadeInUp 2s ease-out;
}

/* Grid Section */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.grid-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.grid-item:hover img {
    transform: scale(1.15);
    transition: transform 0.3s ease;
}

.grid-item a {
    display: block;
    color: transparent;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .nav-items {
        flex-direction: column;
        align-items: center;
    }

    .nav-items li {
        margin: 10px 0;
    }

    .hero-title {
        font-size: 2.5em;
    }

    .hero-description {
        font-size: 1.2em;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item img {
        height: auto;
    }
}

@media (max-width: 480px) {
    .hero-title {
        font-size: 2em;
    }

    .hero-description {
        font-size: 1em;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}
