* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fffbfb; /* Light grey background */
    color: #003e21;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center all content */
}


/* video */
.video-overlay {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    transition: opacity 1s ease; /* Smooth fade-out transition */
}

#hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; /* Place the video behind the text */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}





/* back to homepage */

header {
    background-color: #fff; /* White background for header */
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc; /* Subtle border at the bottom */
    width: 100%;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #003e21;
}

nav {
    background-color: #fff; /* White background for nav */
    padding: 10px 0;
    border-bottom: 1px solid #ccc; /* Subtle border at the bottom */
    width: 100%;
    z-index: 1000; /* Ensure the nav bar is above other elements */
    position: relative; /* Position relative to set the stacking context */
}

.nav-items {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Center the nav items */
    margin: 0;
    padding: 0;
}

.nav-items li {
    position: relative;
    margin: 0 15px; /* Space between nav items */
}

.nav-items a {
    text-decoration: none;
    color: #003e21;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-items a:hover {
    color: #dcbb57;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
    color: #003e21;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001; /* Ensure the dropdown is above the carousel */
    text-align: center; /* Center text */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure contents are contained within the rounded corners */
}

.dropdown-content li {
    list-style-type: none; /* Remove bullet points */
    padding: 12px 16px;
}

.dropdown-content li a {
    color: #003e21;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content li a:hover {
    background-color: #f1f1f1; /* Light grey background on hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* hero text */

.hero-section {
    position: relative;
    width: 100%; /* Ensure the hero section takes full width */
    height: 100vh; /* Ensure the hero section takes full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#fffbfb); /* Your background color or gradient */
    margin: 0; /* Remove margins to ensure full height */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.hero-text {
    text-align: center;
    color: #003e21;
    padding: 20px; /* Adjusted padding */
    animation: fadeInUp 1s ease-out; /* Apply animation */
}

.hero-title {
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.hero-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 400;
    max-width: 600px;
    margin: 0 auto;
}

.content {
    padding: 20px;
    background-color: #fffbfb; /* Light grey background */
}

.scroll-down {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #003e21;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scroll-down:hover {
    background-color: #dcbb57;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 pictures per row */
    gap: 5px; /* Smaller gap between images */
    padding: 10px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.grid-item img {
    width: 100%;
    height: 400px; /* Fixed height for uniform size */
    object-fit: cover; /* Ensure the image covers the container */
}

.grid-item:hover img {
    transform: scale(1.15);
    transition: transform 0.3s ease;
}

.grid-item a {
    display: block;
    color: transparent;
}

.grid-item a:focus img,
.grid-item a:hover img {
    transform: scale(1.1);
}


/* drop down content for portfolio */


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001; /* Ensure the dropdown is above the carousel */
    text-align: center; /* Center text */
}


.dropdown-content a {
    color: #003e21;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* list */

.list-section {
    padding: 10px 20px;
    max-width: 1000px;
    margin-bottom: 100px;
    text-align: center;
}

.list-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #003e21;
    margin-bottom: 30px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    flex: 0 1 calc(25% - 20px); /* 4 cards per row, adjust as needed */
    margin-bottom: 50px;
}

.card:hover {
    transform: translateY(-10px);
}

.card-content {
    padding: 20px;
    text-align: left;
}

.card-content h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #003e21;
    margin-bottom: 10px;
}

.card-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}



/* For my drop down menu sections */

.carousel {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background */
    width: 80%; /* Slightly wider for a more dramatic look */
    max-width: 800px; /* Increase maximum width */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure contents are contained within the rounded corners */
    margin-left: auto;
    margin-right: auto; /* Center the carousel */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
    margin-bottom: 100px;
}

.carousel-item img {
    height: 80vh; /* Increase height for larger images */
    object-fit: cover; /* Ensure the whole image is visible */
    transition: transform 0.5s ease; /* Smooth transform transition */
}

.carousel-item a {
    display: block;
    color: transparent;
}

.carousel-item a:focus img,
.carousel-item a:hover img {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Darker controls */
    border-radius: 50%; /* Circular controls */
    padding: 10px; /* Increase padding for a larger click area */
}

.carousel-indicators li {
    background-color: #dcbb57; /* Custom color for indicators */
}

.carousel-indicators .active {
    background-color: #ffdd57; /* Custom color for active indicator */
}


/* About page */

.about {
    background-color: #fff;
    width: 90%;
    max-width: 900px;
    padding: 40px;
    margin: 20px auto; /* Center align the section */
    box-shadow: 0 0 20px rgba(0,0,0,0.1); /* Slightly larger shadow */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px; /* More rounded corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.about:hover {
    transform: translateY(-10px); /* Slight lift on hover */
    box-shadow: 0 0 30px rgba(0,0,0,0.2); /* Enhanced shadow on hover */
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-image {
    margin-bottom: 20px;
}

.about-image img {
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2); /* Enhanced shadow */
    transition: transform 0.3s ease; /* Smooth transition */
}

.about-image img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

.about-text {
    max-width: 700px;
    text-align: center; /* Center the text */
}

.about-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px; /* Slightly larger font */
    margin-bottom: 20px;
    color: #003e21; /* Green color */
}

.about-text p {
    font-size: 18px; /* Slightly larger font */
    line-height: 1.8; /* Increased line-height for readability */
    color: #003e21; /* Green color */
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    color: #003e21;
    font-size: 28px; /* Slightly larger icons */
    margin: 0 15px; /* More space between icons */
    transition: color 0.3s, transform 0.3s; /* Smooth transition */
}

.social-links a:hover {
    color: #dcbb57;
    transform: scale(1.2); /* Slight zoom on hover */
}





/* Contact Page Styles */
.contact {
    padding: 50px 20px;
    max-width: 600px;
    margin: 50px auto; /* Added some top margin for spacing */
    text-align: center;
    background-color: #fff; /* White background */
    border-radius: 15px; /* More rounded corners */
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* Slightly larger shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.contact:hover {
    transform: translateY(-10px); /* Slight lift on hover */
    box-shadow: 0 8px 25px rgba(0,0,0,0.2); /* Enhanced shadow on hover */
}

.contact h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 20px;
    color: #003e21;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Add some space between form elements */
}

.contact label {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #003e21;
    margin-bottom: 5px; /* Reduce margin */
    text-align: left;
}

.contact input,
.contact textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px; /* Reduce margin */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.contact input:focus,
.contact textarea:focus {
    border-color: #003e21; /* Green border on focus */
    outline: none; /* Remove default outline */
}

.contact button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #003e21; /* Green background */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.contact button:hover {
    background-color: #002d1b; /* Darker green on hover */
    transform: scale(1.05); /* Slight zoom on hover */
}



/* Inspo page */
.inspiration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}

.inspiration h1 {
    font-family: 'Playfair Display', serif;
    font-size: 10vw;
    font-weight: 300;
    color: #003e21;
    letter-spacing: -0.05em;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    animation: moveText 10s infinite linear;
}




@keyframes moveText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.fashion-heading {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.fashion-heading h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: #003e21;
    margin-bottom: 20px;
}

.fashion-heading p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #555;
}

